
.vim*
*.swp

.todo.md

tmp/*.svg

src/_scratch.md

out/tmp/*.md
out/tmp/*.html

out/html/*.js
out/html/*.ps
out/html/*.ps.zip
out/html/*.css
out/html/*.ico
out/html/*.png
out/html/*.pdf
out/html/*.svg
out/html/*.html
out/html/csheet*.jpg
out/html/et-book/

